html, body, div, span, applet, object, iframe,
h2, h4, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* mis CSS */
header {
	display:flex;
	width: 100vw;
}

#retornoInicio{
	justify-content: flex-start;
	margin:20px;
	border-radius: 5px;
	background-color: rgb(71, 124, 237);
    color:aliceblue;
    text-decoration: none;
    padding: 5px;
}
#retornoInicio a {
	margin:20px;
	border-radius: 10px;
	background-color: rgb(71, 124, 237);
    color:aliceblue;
    text-decoration: none;
    padding: 5px;
}
main {
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}
body {
	display:flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 90vh;
	width: 100vw;
    background-size: cover;
	transition: background-image 1s linear;
    color:white;
    font-family: sans-serif;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	min-height: 100vh;
}
#containerPassword {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0px;
	padding: 5px;
	margin-top: -50px;
}
#containerPassword h3 {
	font-size: 25px;
	margin-bottom: 2px;
	padding-bottom: 2px;
}

#section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap:10px;
	border-radius: 20px;
	background-color: rgba(65, 65, 92, 0.514);
	padding: 20px;
}

#section p {
	margin-bottom: 10px;
}
#selector {
	display:flex;
	flex-direction: row;
	gap:10px;
    height: 40px;
}

#generatePassword{
    background-color: rgb(71, 124, 237);
    border-radius: 10px;
    font-size: 17px;
    text-align: center;

    color:white
}
#userselection {
    border-radius: 8px;
    font-size: 16px;
}

#password {
    font-size: 28px;
    font-weight: bold;
}
#finalpassword {
    color: rgb(218, 183, 119);
    font-size: 25px;
    text-align: center;
}