html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MIS CSS */

body {
    display: flex;
    justify-content: center;
    text-align: center;
    background-size: cover;
	transition: background-image 1s linear;
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	min-height: 100vh;
    
}
header {
    position: relative;
    flex-direction: row;
    height: 20px;
    transform: translateX(-200px);
}

.reloj {
    transform: translateY(300px);
    background-color: rgba(65, 65, 92, 0.514);
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    color: white;
    height: 180px;
    margin-top: -50px;
}
#reloj {
    font-size: 40px;
    font-weight: bold;
    padding: 15px;
}

#fecha {
    font-weight: bold;
    font-size: 23px;
}
#mensajereloj {
    font-style: italic;
    font-weight: 500    ;
}



#botonreloj {
	justify-content: flex-start;
	margin:20px;
	border-radius: 10px;
	background-color: rgb(71, 124, 237);
    color:aliceblue;
    text-decoration: none;
    padding: 5px;
}

#botonreloj a{
    color: aliceblue;
    text-decoration: none;
}